* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root .neutral {
  --color_primary: #ccebcf;
  --color_secondary:#8c7558;;
  --color_tertiary: #f2f2f2;
  --color_quaternary: #f9d59b;
}

:root .color_women {
  --color_primary: #400d1f;
  --color_secondary: #73345d;
  --color_tertiary: #f2f2f2;
  --color_quaternary: #d9bad4;
}

:root .color_men {
  --color_primary: #56688c;
  --color_secondary: #23518c;
  --color_tertiary: #f2f2f2;
}
:root {
  /*Typographie primaire & secondaire*/
  --typographie_cursive: "Betania Patmos", cursive;
  --typographie_poppins: "Poppins", sans-serif;

  /*Taille des textes*/
  --taille_h1: 1.3rem; /*Ne jamais descendre en dessous de 1.2rem*/
  --taille_h2: clamp(1.2rem, 0.9rem + 1vw, 1.6rem);
  --taille_h3: clamp(1.05rem, 0.95rem + 0.5vw, 1.25rem);
  --taille_texte: 1rem;
}

img {
  width: 100%;
}

/*Style du header*/
header {
  display: flex;
  background-color: var(--color_primary);
  position: fixed;
  top: 0;
  z-index: 900;
  width: 100%;
  position: relative;
}

header #logo {
  width: 100px;
  display: inline-block;
  vertical-align: start;
}

header #genesis {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

header div #genesis_name {
  font-family: var(--typographie_poppins);
  color: var(--color_secondary);
  display: flex;
  align-items: center;
  justify-content: center;
}

header div .genesis_devise {
  font-family: var(--typographie_cursive);
  color: var(--color_secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}

header .navigation_genesis {
  font-family: var(--typographie_poppins);
  color: var(--color_secondary);
  display: flex;
  align-items: center;
  justify-self: flex-end;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  right: 1%;
  gap: 10px;
}

header nav a {
  color: var(--color_secondary);
}

header #search a {
  color: var(--color_secondary);
}

/*Style du Main*/
main {
  display: flex;
  flex-wrap: wrap;
  min-height: 81.6svh;
  background-color: var(--color_tertiary);
}
#section_1,
#section_2 {
  background-color: var(--color_tertiary);
  display: flex;
  flex-direction: column;
  width: 50%;
}

/*Style du Footer*/

.container_footer {
  background-color: var(--color_primary);
  width: 100%;
  display: flex;
}

.mention_footer {
  font-family: var(--typographie_poppins);
  font-size: var(--taille_texte);
  color: var(--color_secondary);
}
