.container_section {
  display: flex;
}
#presentation_fondatrice {
  width: 90%;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 10px;
}

#presentation_fondatrice img {
  width: 150px;
  max-width: 400px;
  border-radius: 25px;
  gap: 1rem;
  margin: 5px;
}

#presentation_fondatrice .contenu {
  width: 70%;
  border: 1px solid var(--color_tertiary);
  border-radius: 5px;
  background-color: var(--color_tertiary);
  padding: 10px;
}

#presentation_fondatrice .contenu h1 {
  font-family: var(--typographie_poppins);
  color: var(----color_primary);
  font-size: 1.3rem;
  line-height: 1.25;
  gap: 1rem;
}

#presentation_fondatrice .contenu p {
  font-family: var(--typographie_poppins);
  color: var(--color_secondary);
  font-size: var(--taille_texte);
}

#presentation_fondatrice a {
  font-family: var(--typographie_poppins);
  font-size: var(--taille_texte);
  color: var(--color_secondary);
  background-color: var(----color_primary);
  border-radius: 5px;
  padding: 5px;

  position: relative;
  top: -1.4rem;
  right: -18rem;
}

/*Section des valeurs de l'entreprise*/
.contenu_valeur {
  font-family: var(--typographie_poppins);
  font-size: var(--taille_h3);
  display: flex;
  width: auto;
  align-items: center;
  gap: 50px;
}

.valeur {
  width: 100px;
  cursor: pointer;
  border-radius: 100px;
}

.valeur:hover {
  width: 105px;
}

/*Section des derniers articles*/
.section_2 h2 {
  font-family: var(--typographie_poppins);
  font-size: var(--taille_h2);
  color: var(----color_primary);
}

.section_2 h3 {
  font-family: var(--typographie_poppins);
  font-size: var(--taille_h3);
  color: var(----color_primary);
}

.section_2 p {
  font-family: var(--typographie_poppins);
  font-size: var(--taille_h3);
  color: var(----color_primary);
}

.art_img {
  width: 70px;
  border-radius: 15px;
}

art_img:hover {
  width: 75px;
  border-radius: 5px;
}
